.paginateButtons {
  width: 70%;
  height: 60px;
  padding-top: 20px;
  list-style: none;

  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
  margin: 8px;
  margin-left: 15%;
}
.previous {
  font-size: 100%;
}
.next {
  font-size: 100%;
}
.paginateButtons a {
  padding: 20px;

  margin: 10%;
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.paginateButtons a:hover {
  color: "white";
  background-color: #03fcfc;
}
