.profile {
  object-fit: contain;
}
.field:nth-child(even) {
  padding: 10;
  background-color: #f5f2f2;
  margin-left: 20;
  font-size: 17;
  color: gray;
}
.field:nth-child(odd) {
  padding: 10;
  background-color: white;
  margin-left: 20;
  font-size: 17;
  color: gray;
}

@media (min-width: 950px) {
  .align {
    margin-right: 230px;

    font-weight: bold;
  }
  .pics {
    justify-content: center;
    margin-top: 10;
    margin-bottom: 20;
    height: 322px;
  }
}
@media (max-width: 950px) {
  .pics {
    justify-content: center;
    margin-top: 10;
    margin-bottom: 20;
    height: 150px;
  }
  .align {
    margin-right: 100px;

    font-weight: bold;
  }
}
